
.header {
    background: #000;
}

.logo {
    color:#fff;
    text-transform: capitalize;
    font-weight: bold;
}

.menu {
    color:#fff;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;

}
.menu:hover {
    color:#fff;
}

.sction-intro {
    background: #E8E7E5
}